.Container{
    position: fixed;
    top: 70px;
    left:0;
   overflow: scroll;
    
  
   height: 80%;
   width: 99.8%;
   padding-bottom: 500px;

   display: grid;
   
   justify-content: center;

   
   
}