
.container {
    position: relative;
    
   top: 80px;
    width: 85vw;
    margin: 0 auto;
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem,25rem));
    grid-gap: 20px;

    justify-content:center;
    align-items: center;

    margin-bottom: 50px;
    
    


   

}