.nav {
    position: fixed;
    display: flex;
   

    float: right;
    
    align-items: center;
    justify-content: space-around;
    
    
    width: 100%;
    min-height: 80px;
    
    background-color: #8dfa21;
    top: 0%;
    
}

.logo{
    position: relative;
    height: 55px;
    
} 

.button {
    display: inline-block;
    font-family: "Poppins", sans-serif;
    font-size: large;
    background-color: #99AF71;
    border-radius: 0.5rem;
    border-width: 0;
    padding: 0.5rem 0.8rem;
    color: #FFFFFC;
    transition: 0.3s;

}
.create {
    display: flex;
    background-color: rgb(159, 199, 186);
    border: solid .6mm white;
    color: white;
    text-decoration: none;
    background-image: url("../../sources/logo.png");
    background-repeat: no-repeat;
    background-position-y: 13px  ;
    background-position-x: 232px  ;
    width: 14vw;
    height: 2.5vw;
    border-radius: 10px;
    align-items: center;
    padding-left: 10px;
}

@media (max-width:1500px){
    
    .create {
        
        
        
        font-size: 10px;
    }
}

@media (max-width:700px){
    .logo{
        position: absolute;
        height: 50px;
        top: 15px;
        left: 10px;
    } 
    .create {
        position: absolute;
        
        width: 20vw;
        height: 10vw;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        right:10px;
        font-size: 10px;
    }
}